node_modules/
.npmignore
.babelrc
.gitignore
.eslintcache
.eslintrc.json
hash.json
webpack.*.js
src/
icons/
docs/
wiki/
coverage/

.travis.yml
tsconfig.json
tslint.json
dist/*.html
dist/data.json
dist/example.js
test-js
dist/basic.js
