.md-side-toolbar {
  position: absolute;
  z-index: 1;
  left: -45px;
  top: 0;
  margin-top: 20px;
}

.md-sb-button {
  padding: 0;
  background: #fff;
  border: 1px solid #aaaaaa;
  color: #000;
  cursor: pointer;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 20px;
  margin-right: 2px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &::-moz-focus-inner {
    padding: 0;
  }

  &.md-sb-img-button {
    background: white;
  }

  & svg {
    fill: currentColor;
    transition: transform 0.1s;
  }
}

.md-add-button {
  &.md-open-button svg {
    transform: rotate(45deg);
  }
}

.mb-side-menu {
  background: #fff;
  position: absolute;
  left: calc(100% + 32px);
  top: 0;
  display: flex;
}

.mb-side-menu-button {
  padding: 12px 4px;
  background: #fff;

  &:hover {
    background: #cecece;
  }
}
