.md-editor-toolbar {
  background: #323845;
  color: #fff;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  visibility: hidden;
  box-shadow: 0 1px 3px 0 #747171;
  margin-top: -5px;
  overflow: hidden;

  &.md-editor-toolbar--is-open {
    visibility: visible;
  }

  & .md-url-input {
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    width: calc(100% - 36px);
    height: 36px;
    padding: 5px 11px 5px 5px;
    border: none;
    background: #323845;
    color: #fff;
    font-size: 0.9em;
    font-weight: 100;
    border-right: 1px solid #555;

    &:focus {
      outline: none;
    }
  }

  & .md-url-input-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: #323845;
  }
}

.md-editor-toolbar-edit-link {
  padding: 4px 5px;
  font-size: 0.8em;
  width: 320px;

  & a {
    color: #fff;
    text-decoration: none;
  }

  &::after {
    bottom: initial;
    top: -5px;
    transform: rotate(180deg);
  }

  & button {
    background: none;
    border: none;
    color: #fff;
    float: right;
    display: inline-block;
    padding: 0 5px;
    margin: 5px 0;
    cursor: pointer;

    &.md-editor-toolbar-edit-button {
      border-right: 1px solid #fff;
    }
  }
}

.md-RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  border-right: 1px solid #555;
  display: inline-flex;
  vertical-align: top;

  &:last-child {
    border-right: none;
  }

  &.md-RichEditor-controls--show-input {
    display: block;
  }
}

.md-RichEditor-styleButton {
  color: inherit;
  cursor: pointer;
  padding: 6px;
  height: 36px;
  min-width: 36px;
  line-height: 24px;
  text-align: center;
  display: block;
  background: none;
  border: 0;
  box-sizing: border-box;

  &:hover {
    background: #242933;
  }

  &:active {
    background: #000;
  }

  &:last-child {
    margin-right: 0;
  }

  &.md-RichEditor-styleButton-bold {
    font-weight: bold;
  }

  &.md-RichEditor-styleButton-italic {
    font-style: italic;
  }

  &.md-RichEditor-styleButton-underline {
    text-decoration: underline;
  }

  &.md-RichEditor-styleButton-strikethrough {
    text-decoration: line-through;
  }

  &.md-RichEditor-linkButton {
    & > svg {
      pointer-events: none;
    }
  }
}

.md-RichEditor-activeButton {
  background: #1c1f25;
}

.md-RichEditor-controls-block {
  & .md-RichEditor-styleButton:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

