.md-block-paragraph {
  margin: 25px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.md-RichEditor-editor {
  cursor: text;

  h2 {
    font-size: 1.3em;
    margin: 1.2em 0;
  }

  h3 {
    font-size: 1.15em;
    margin: 1.2em 0;
  }

  & h2, & h3 {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
