.md-side-toolbar {
  position: absolute;
  z-index: 1;
  left: -35px;
  top: 0;
}

.md-sb-button {
  padding: 0;
  background: #fff;
  border: 1px solid #aaaaaa;
  color: #000;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  margin-right: 2px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &.md-sb-img-button {
    background: white;
  }

  & svg {
    transition: transform 0.1s;
  }

  & svg {
    stroke-width: 0;
    fill: currentColor;
  }
}

.md-add-button {
  &.md-open-button svg {
    transform: rotate(45deg);
  }
}

.mb-side-menu {
  position: absolute;
  right: 100%;
  top: 0;
  display: flex;
}

.mb-side-menu-button {
  padding: 12px 4px;
  background: #fff;

  &:hover {
    background: #cecece;
  }
}

.md-example-appear {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-example-appear.md-example-appear-active {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all .5s ease-in;
}

.md-example-enter {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-example-enter.md-example-enter-active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease-in;
}

.md-example-leave {
  opacity: 1;
}

.md-example-leave.md-example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
