.md-side-toolbar {
  position: absolute;
  z-index: 1;
  left: -35px;
  top: 0;
}

.md-sb-button {
  padding: 0;
  background: #fff;
  border: 1px solid #5b5b5b;
  color: #6D6D6D;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  margin-right: 2px;
  text-align: center;
  transition: all 0.2s ease;

  &:hover {
    color: green;
  }

  &.md-sb-img-button {
    background: none;
    background-color: white;
  }

  & svg path {
    stroke-width: 0;
    fill: #545454;
  }
}

.md-add-button {
  &.md-open-button {
    transform: rotate(45deg);
  }
}

.mb-side-menu {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.mb-side-menu-button {
  padding: 12px 4px;
  background: #fff;

  &:hover {
    background: #cecece;
  }
}

.md-example-appear {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-example-appear.md-example-appear-active {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all .5s ease-in;
}

.md-example-enter {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-example-enter.md-example-enter-active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease-in;
}

.md-example-leave {
  opacity: 1;
}

.md-example-leave.md-example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
