@keyframes imageLoading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.md-block-image {
  margin: 0;

  & .md-block-image-inner-container--image {
    display: block;
    margin: 0 auto;
    cursor: default;
    max-width: 100%;
    box-sizing: border-box;
  }

  &--uploading {
    animation: imageLoading 1s infinite;
  }

  & figcaption {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: #a0a0a0;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;

    & .public-DraftStyleDefault-block {
      text-align: center;
    }
  }

  & .md-block-image-inner-container {
    position: relative;
  }

  & .md-block-image-toolbar-container {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
  }
}
