.md-content-editor {
  cursor: text;

  & h1 {
    font-size: 2em;
    margin: 25px 0 15px;
  }

  & h2 {
    font-size: 1.3em;
    margin: 25px 0 15px;
  }

  & h3 {
    font-size: 1.15em;
    margin: 25px 0 15px;
  }

  & hr {
    margin: 25px 0;
    height: 0;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  & h1, & h2, & h3 {
    line-height: 1.2;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
