body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

a, a:visited {
  color: #08c;
}

.md-RichEditor-root {
  font-family: 'Georgia', serif;
  max-width: 700px;
  margin: 25px auto;
  padding: 25px;
  background: #fff;
}

.md-RichEditor-editor .md-RichEditor-blockquote {
  font-family: 'Hoefler Text', 'Georgia', serif;
}

.md-RichEditor-editor .public-DraftStyleDefault-pre {
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
}

.md-block-atomic-wrapper.md-block-atomic-wrapper-separator {
  border-color: transparent;
}

pre[class*="language-"] {
  padding: 0;
}
