.md-RichEditor-root {
  position: relative;
}

.md-side-toolbar {
  margin-top: 20px;
}

.md-RichEditor-blockquote {
  border-left: 5px solid #4CA8DE;
  font-size: 1.2em;
  margin: 0;
  padding: 15px 0 15px 20px;
  background-color: #E2F2FF;
}

.md-RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.md-RichEditor-editor .public-DraftStyleDefault-pre {
  margin-top: 10px;
}

.public-DraftStyleDefault-unorderedListItem,
.public-DraftStyleDefault-orderedListItem {
  margin-bottom: 10px;
}

.md-modal-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.md-modal-input {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.md-modal-input__wrapper {
  & label {
    display: block;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  & input[type=text] {
    display: block;
    width: 100%;
  }
}
